{% extends 'base.html' %}

{% block pagina %}
Crear cuenta
{% endblock %}

{% block titulo %}
Crear cuenta
{% endblock %}

{% block menu %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card shadow-lg rounded-4 border-0">
                <div class="card-body p-4 p-md-5">
                    <div class="text-center mb-3 ">

                        <div class="container mt-2">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show"
                                role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>

                        <h1 class="fw-bold titulo-naranja">Crea una cuenta</h1>
                        <p class="titulo-verde">Es rapido y facil</p>
                    </div>

                    <form method="POST" action="{{ url_for('crearCuenta') }}">

                        <section class="row mb-3">
                            <div class="col-6">
                                <label for="Nombre" class="form-label"></label>
                                <input type="text" class="form-control" id="Nombre" name="Nombre" required minlength="3"
                                    maxlength="20" placeholder="Nombres" value="{{ request.form.get('Nombre', '')}}">
                            </div>


                            <div class="col-6">
                                <label for="Apellido" class="form-label"></label>
                                <input type="text" class="form-control" id="Apellido" name="Apellido"
                                    value="{{ request.form.get('Apellido', '')}}" placeholder="Apellidos">
                            </div>
                        </section>


                        <div class="mb-3">
                            <label for="Fecha" class="form-label titulo-verde">Fecha de nacimiento</label>
                            <input type="date" class="form-control" id="Fecha" name="Fecha"
                                value="{{ request.form.get('Fecha', '')}}">
                        </div>


                        <div class="mb-3">
                            <label class="form-label titulo-verde">Genero</label><br>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="mujer" name="Genero" value="Mujer">
                                <label for="mujer" class="form-check-label">Mujer</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="hombre" name="Genero" value="Hombre">
                                <label for="hombre" class="form-check-label">Hombre</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="personalizado" name="Genero"
                                    value="Personalizado">
                                <label for="personalizado" class="form-check-label">Personalizado</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="Email" class="form-label"></label>
                            <input type="email" class="form-control" id="Email" name="Email"
                                placeholder="Correo electronico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                value="{{ request.form.get('Email', '')}}">
                        </div>

                        <section class="row mb-3">
                            <div class="col-6">
                                <label for="Contra" class="form-label"></label>
                                <input type="password" class="form-control" id="Contra" name="Contra"
                                    placeholder="Contraseña" aria-describedby="passwordHelp"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                    title="Debe contener al menos un numero, una mayuscula y una minuscula y al menos un digito">
                                <div id="passwordHelp" class="form-text">
                                    Minimo 8 caracteres, incluye mayusculas, minusculas y un caracter especial
                                </div>
                            </div>

                            <div class="col-6">
                                <label for="ContraConfirm" class="form-label"></label>
                                <input type="password" class="form-control" id="ContraConfirm" name="ContraConfirm"
                                    placeholder="Confirmar contraseña">
                            </div>
                        </section>

                        <div class="text-center mb-3">
                            <button type="submit" class="btn boton-verde">Registrarte</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock menu %}