{% extends 'base.html' %}

{% block pagina %}
Educacion
{% endblock %}

{% block titulo %}
Etiquetas
{% endblock %}

{% block menu %}
<div class="container my-5 seccion-gris p-4 rounded">
    <div class="row align-items-center g-4">
        
        <div class="col-lg-6">
            <img src="{{ url_for('static', filename='styles/img/etiquetas2.png') }}" 
                 alt="Etiquetas nutricionales"
                 class="img-fluid rounded shadow img-round">
        </div>

        <div class="col-lg-6">
            <h2 class="titulo-verde mb-3">¿Cómo leer las etiquetas nutricionales?</h2>

            <p>Aprender a leer las etiquetas nutricionales te permite identificar si un producto es realmente saludable. Aquí podrás conocer los valores energéticos, azúcares, grasas, sodio y raciones reales.</p>

            <ul>
                <li>Identifica el tamaño de la porción</li>
                <li>Revisa calorías por porción</li>
                <li>Comprueba el contenido de azúcar añadido</li>
                <li>Revisa sodio, grasas saturadas y grasas trans</li>
            </ul>
        </div>

    </div>
</div>
{% endblock %}
