{% extends 'base.html' %}

{% block pagina %}
Educación
{% endblock %}

{% block titulo %}
Módulo de Educación e Información
{% endblock %}

{% block menu %}


<div class="container my-5 justify-content-center seccion-gris">
    <div class="col-lg-8 col-md-10">

        <h2 class="text-center titulo-naranja mb-3"></h2>

        <div class="card shadow-lg rounded-4 border-0">
            <div class="card-body p-4 p-md-5">
                <div class="text-center  mb-3 ">

                    <form method="POST" action="{{ url_for('calcular_imc') }}">

                    <div class="mb-3">
                        <label class="form-label titulo-verde">Peso (kg)</label>
                        <input type="number" step="0.1" class="form-control" name="peso" id="peso"
                            placeholder="Peso actual en kg">
                    </div>


                    <div class="mb-3">
                        <label class="form-label titulo-verde">Altura (m)</label>
                        <input type="number" step="0.1" class="form-control" name="altura" id="altura"
                            placeholder="Altura actual en metros ej. 1.60">
                    </div>

                    <button type="submit" class="btn boton-naranja">Calcular IMC</button>
                    </form>

                </div>
            </div>
        </div>

        {% if resultado %}
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div class="alert alert-info text-center">
                    <h4 class="fw-bold">Tu IMC es: {{ resultado }}</h4>
                </div>
            </div>
        </div>
        {% endif %}


    </div>
</div>
{% endblock %}