{% extends 'base.html' %}

{% block pagina %}
NutriApp
{% endblock %}

{% block titulo %}
NutriApp
{% endblock %}

{% block menu %}

    <div class="seccion-clara">
        <div class="container py-5">
            <div class="row align-items-center">

                <div class="col-md-6">
                    <h1 class="titulo-naranja fw-bold">
                        Transformando tu Bienestar a traves de una alimentacion saludable
                    </h1>

                    <p class="texto-secundario mb-4">
                        Nuestro proposito es ayudar a miles de personas a lograr una alimentacion mas sana
                        de manera simple, efectiva y adaptada a ti.
                        Descubre la gran cantidad de herramientas con las que contamos y explora nuestra app
                        sumergiendote en un nutrimundo lleno de informacion valiosa que te servira para comenzar un cambio en tu vida.
                    </p>

                    <a class="btn boton-verde btn-lg mb-4" href="http://127.0.0.1:5000/crearCuenta">Comenzar gratis</a>
                </div>

                <div class="col-md-6 text-center mt-4 mt-md-0">
                    <img src="{{ url_for('static', filename='styles/img/app.png') }}"
                        class="img-fluid" 
                        alt="app en teléfono">
                </div>
            </div>
        </div>
    </div>

    <div class="seccion-clara">
        <div class="container py-5">
            <div class="row align-items-center">

                <div class="col-md-6 text-center mb-4 mb-md-0">
                    <img src="{{ url_for('static', filename='styles/img/comida.jpg') }}"
                        class="img-fluid rounded shadow-sm" 
                        alt="comida saludable">
                </div>

                <div class="col-md-6">
                    <h3 class="titulo-verde fw-bold">Alcanza tus objetivos</h3>
                    <p class="texto-secundario">
                        Te ayudaremos a llevar un control diario de tu alimentacion dasndote recomendacionesy ayudandote a llegar a tu objetivo con nuestras herramientas que son muy faciles de usar.Nuestro proposito es mejorar tu alimentacion adaptandonos de la mejor manera posible a tus objetivos.
                    </p>
                    <ul>
                        <li>Recetas saludables</li>
                        <li>Calculadoras Nutricionales</li>
                        <li> Analizador de Recetas o Platos</li>
                        <li>Ejercicios basicos</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

   <section class="py-5 seccion-gris">
        <div class="container">
            <h2 class="text-center titulo-naranja mb-5">Explora las herramientas</h2>

            <div class="row g-4">

                <div class="col-md-3">
                    <div class="card card-custom shadow h-100">
                        <img src="{{ url_for('static', filename='styles/img/recetas saludables.jpg') }}" class="card-img-top"
                        alt="Recetas saludables">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Recetas saludables</h5>
                            <p class="card-text texto-secundario">
                            Te daremos recetas saludables, faciles de preparar por si eres primeriso en la cocina y muy accesibles,
                            con precios variados y la lista de productos con su nombre para que los encuentres facilmente en el supermercado.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-custom shadow h-100">
                        <img src="{{ url_for('static', filename='styles/img/calculadoras.jpg') }}" 
                        class="card-img-top"
                        alt="Proceso">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Calculadoras Nutricionales</h5>
                            <p class="card-text texto-secundario">
                               Encontrarás varias calculadoras diseñadas para ayudarte a conocer mejor tu salud y nutrición. Podrás obtener datos como tu IMC, tus calorías diarias recomendadas y otros valores 
                               importantes para entender lo que tu cuerpo necesita.
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="card card-custom shadow h-100">
                        <img src="{{ url_for('static', filename='styles/img/analizador.jpg') }}" class="card-img-top"
                        alt="Planes personales">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Analizador de Recetas</h5>
                            <p class="card-text texto-secundario">
                                En este apartado podrás analizar cualquier receta o platillo ingresando sus ingredientes.
                                La herramienta calculará automáticamente los nutrientes totales, como calorías, proteínas, grasas y más.Es una forma rápida y práctica de conocer qué tan equilibrada es tu comida.
                            </p>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-3">
                    <div class="card card-custom shadow h-100">
                        <img src="{{ url_for('static', filename='styles/img/ejercicios.jpg') }}" class="card-img-top"
                        alt="Recetas saludables">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Ejercicios Basicos</h5>
                            <p class="card-text texto-secundario">
                                En este módulo encontrarás una guía de ejercicios sencillos que puedes realizar en casa o en cualquier lugar.
                                 Están pensados para ayudarte a moverte, mantenerte activo y mejorar tu bienestar sin necesidad de equipo especial. Solo elige el ejercicio y sigue las indicaciones a tu propio ritmo.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock menu %}