{% extends 'base.html' %}

{% block pagina %}
Calculadoras
{% endblock %}

{% block titulo %}
Calculadora de Tasa Metabolica Basal
{% endblock %}

{% block menu %}


<div class="container my-5 justify-content-center seccion-gris">
    <div class="col-lg-8 col-md-10">

        <h2 class="text-center titulo-naranja mb-3"></h2>

        <div class="card shadow-lg rounded-4 border-0">
            <div class="card-body p-4 p-md-5">
                <div class=" mb-3 ">

                    <form method="POST" action="{{ url_for('calcular_tmb') }}">

                        <!-- sexo -->
                        <div class="mb-3">
                            <label for="sexo" class="form-label titulo-verde">Sexo</label>
                            <select class="form-select" id="sexo" name="sexo">
                                <option selected>Seleccione su sexo</option>
                                <option value="hombre">Hombre</option>
                                <option value="mujer">Mujer</option>
                            </select>
                        </div>

                        <!-- peso -->
                        <div class="mb-3">
                            <label class="form-label titulo-verde">Peso (kg)</label>
                            <input type="number" step="0.1" class="form-control" name="peso" id="peso"
                                placeholder="ejemplo 40">
                        </div>

                        <!-- altura -->
                        <div class="mb-3">
                            <label class="form-label titulo-verde">Altura (cm)</label>
                            <input type="number" step="0.1" class="form-control" name="altura" id="altura"
                                placeholder="ejemplo 160">
                        </div>

                        <!-- edad -->
                        <div class="mb-3">
                            <label class="form-label titulo-verde">Edad (años)</label>
                            <input type="number" class="form-control" name="edad" id="edad" placeholder="ejemplo 20">
                        </div>

                        <!-- boton -->
                        <div class="text-center">
                            <button type="submit" class="btn boton-naranja">Calcular IMC</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>

        <!-- mensaje de resultado -->
        {% if resultado %}
        <div class="alert alert-success text-center mt-4">
            <h4 class="fw-bold">Tu tasa metabolica basal es: {{ resultado }} calorias/dia </h4>
        </div>
        {% endif %}

        <!-- mensaje de error -->
        <div class="container mt-2">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show"
                role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

    </div>
</div>

{% endblock %}